# output dir
ExpManager/
checkpoints/
pre_trained_weights/
# project dirs
datasets/trainingData_face
datasets/trainingData_face.zip
datasets/image_data
datasets/portrait
datasets/unzippedData
datasets/voice_data
datasets/raw_voice
datasets/chalearn
datasets/102flowers
datasets/missed_files.txt
datasets/*.txt
datasets/annotation
datasets/va_data
pretrained/
mlruns/
/snippet
/plot
/docs
# ingore output data
output/
results/
results_second_stage_tp
results_second_stage
results_true_personality
#temp/*.txt

events.out*
# current output files
*.png
*.json
*.diff
*.jpg
*.zip
*.log
ev
# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
#build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pickle
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

