# output dir
results/

# project dirs
datasets/trainingData_face
datasets/trainingData_face.zip
datasets/ImageData
datasets/portrait
datasets/unzippedData
datasets/VoiceData
datasets/chalearn
datasets/102flowers
datasets/missed_files.txt
pretrained/
/snippet

# current output files
*.png
*.json
*.diff
*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
#build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pickle
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

