DATA:
  TRAIN_IMG_DATA: "datasets/second_stage_TP/interpret_img/train/talk_train"
  VALID_IMG_DATA: "datasets/second_stage_TP/interpret_img/valid/talk_valid"
  TEST_IMG_DATA: "datasets/second_stage_TP/interpret_img/test/talk_test"
DATA_LOADER:
  NAME: "second_stage_data"
  SECOND_STAGE:
    METHOD: "spectrum"
    TYPE: "pred"
  TRAIN_BATCH_SIZE: 4
  NUM_WORKERS: 0
MODEL:
  NAME: "spectrum_conv_model2"
  SPECTRUM_CHANNEL: 5
LOSS:
  NAME: "mean_square_error"
SOLVER:
  NAME: "sgd"
  SCHEDULER: "multi_step_scale"
  LR_INIT: 0.01
  MILESTONE: [10,]
TRAIN:
  TRAINER: "SpectrumTrainer"
  MAX_EPOCH: 20
  LOG_INTERVAL: 50
  VALID_INTERVAL: 1
  OUTPUT_DIR: "results_second_stage_tp/06_interpret_cnn_spectrum/talk"
